    a:link {
        color: black;
    }
    a:visited {
        color: black;
    }
    a:hover {
        background-color: black;
        color: white;
    }
    .side_link {
        margin-top: 1em;
        text-align: right;
    }
    body {
        font-size: 125%;
        font-family: monospace;
        margin: 0px;
    }
    p { 
        margin-block-end: 0; 
        margin-block-start: 0;     
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }
      
    table td, table th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      
    table tr:nth-child(even){background-color: #f2f2f2;}
      
    table tr:hover {background-color: #ddd;}
      
    table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: black;
        color: white;
    }



    @media screen and (min-width: 1024px) {
        h1 {
            margin-block-start: 0;
        }
        .content_container {
            margin-left: 300px;
            padding-bottom: 5em; 
            height: 100%;
        }
        .content {
            padding: 2em;
            margin: 0 auto;
            width: 700px;
        }
        .wrapper {
            position: relative;
        }
        .menu {
            display: block;
            padding: 1em;
            float: left;
            width: 300px;
            background-color: gainsboro;  
            color: black;  
            position: absolute;
            height: 100%;
            box-sizing: border-box;
        }
        body {
            box-sizing: border-box;
        }
        .header {
            padding: 1em;
            width: auto;
            background-color: black;
            color: white;  

        }
        .footer {
            clear: both;
            background-color: black;      
            color: white;
            padding: 1em;
        }
        .logo {
            width: 500px;
            display: block;
            margin: 0 auto;   
        }
        .menu_button {
            display: none;
        }
        .close_button {
            display: none;
        }
    }



    @media screen and (max-width : 1024px) {
        h1 {
            margin-block-start: 3em;
            margin-block-end: 2em; 
        }
        h2 {
            margin-block-start: 3em;
            margin-block-end: 2em;    
        }
        .menu {
            padding-top: 5em;
            display: none;
            overflow: auto;
            z-index: 100;
            padding-left: 2em;
            padding-right: 2em;
            padding-bottom: 12em;
            margin: 0;
            width: auto;
        }
        .content_container {
            padding-left: 2em;
            padding-right: 2em;
            padding-bottom: 12em;
            margin: 0;
            overflow: auto;
            z-index: 100;
        }
        .header {
            padding: 0;
            width: 100%;
            height: auto;
            z-index: 101;
            background-color: black;
            position: relative;
        }
        .logo {
            padding-top: 2em;
            padding-left: 2em;
            width: 75%;
            padding-bottom: 1.8em;
            
        }
        .menu_button {
            margin-right: 2em;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 57px;
            background: url("https://i.gyazo.com/b80488268e9f8b1d2e984c46dc5fd29e.png") center center no-repeat;
        }
        .close_button {
            display: none;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 65px;
            margin-right: 2em;
            background: url("https://i.gyazo.com/e440f635af8146eed9151413c2599502.png") center center no-repeat;            
        }
        .footer {
            clear: both;
            background-color: black;      
            color: white;
            padding: 2em;
        }
        a:hover {
        background-color: white;
        color: black;
        }
    }