* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url(../fonts/RobotoCondensed-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url(../fonts/RobotoCondensed-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Futura PT';
    src: url(../fonts/FuturaPTBook.otf);
}

@font-face {
    font-family: 'Futura PT';
    src: url(../fonts/FuturaPTBold.otf);
    font-weight: bold;
}

a:link {
    color: black;
    text-decoration: none;
    white-space: nowrap;
}

a:visited {
    color: black;
}

a:hover {
    background-color: black;
    color: white;
}

a.external:link {
    color: white;
    text-decoration: underline;
}

a.external:visited {
    color: white;
}

a.external:hover {
    background-color: white;
    color: black;
}

a.internal:link {
    text-decoration: underline;
}

.anchor {
    position: relative; 
    top: -20px;
}

.reference {
    margin-top: 1rem;
    text-align: right;
}

body {
    font-family: 'Roboto Condensed';
    margin: 0px;
    font-weight: 300;
}

.example {
    background-color: #ddd;
    padding: 1rem;
}

.example p:first-child {
    margin-block-start: 0;
}

.example p:last-child {
    margin-block-end: 0;
}

footer {
    background-color: black;
    color: white;
    font-weight: 300;
}

footer p {
    margin: 0;
}

footer > div {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
}

table {
    font-size: .9rem;
    border-collapse: collapse;
    width: 100%;
    margin: 1rem 0;
}

table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
    background-color: black;
    color: white;
}

table .inside {
    margin: 0;
}

.footnotes {
    font-size: 0.9rem;
}

.footnotes p {
    margin-bottom: 1rem;
}

hr {
    border: none;
    background-color: black;
    color: black;
    height: 1px;
    width: 100px;
}

ul {
    list-style: none;
    padding-inline-start: 1.5rem;
}

ul li {
    text-indent: -0.5rem;
}

ul li:before {
    content: "› "; 
}

ol {
    padding-inline-start: 2rem;
}
    
table tr:nth-child(odd){background-color: #f2f2f2;}

table ul {
    padding-inline-start: inherit;
    margin: inherit;
}

.inactive {
    display: none;
}

header {
    font-family: 'Futura PT';
    width: 100%;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    padding: 0 1rem;
}

@media screen and (min-width: 1125px) {
    footer {
        padding: 1rem 0;
    }

    footer .social p {
        text-align: right;
    }

    footer .social a {
        margin-left: 1rem;
    }

    footer .social img {
        height: 16px;
    }

    h1 {
        margin-block-start: 0;
    }

    .logo {
        font-size: 2rem;
        height: 100%;
        display: flex; 
        flex-direction: column;
        position: absolute;
    }

    .content_container {
        display: block;
    }

    article {
        padding: 2rem 0;
        margin: 0 auto;
        max-width: 700px;
    }

    main {
        position: relative;
        background-color: white;
    }

    .menu {
        display: flex;
        font-size: 1.25rem;
        justify-content: space-between;
    }

    .menu p {
        margin-right: 50px;
    }

    .menu p:last-child {
        margin-right: 0; 
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }
}

@media screen and (max-width : 1125px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .logo {
        font-size: 1.6rem;
        margin: 1rem 0;
        position: relative;
    }

    main {
        flex-grow: 1;
    }

    .menu {
        overflow: auto;
        padding: 5rem 1rem;
        margin: 0;
        width: auto;
        font-size: 20px;
    }

    .menu a:link {
        font-weight: normal;
    }

    article {
        padding: 5rem 1rem;
        overflow: auto;
    }

    .button_image {
        width: 1.25rem;  
    }

    .menu_button {
        display: flex;
        align-items: center;
    }

    footer {
        padding: 1rem;
    }

    footer > div {
        flex-direction: column-reverse;
    }

    footer .social a {
        margin-right: 1.25rem;
    }

    footer .social img {
        height: 24px;
    }
}