* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url(../fonts/RobotoCondensed-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Thin.ttf);
}

a:link {
    color: black;
    text-decoration: none;
    white-space: nowrap;
}

a:visited {
    color: black;
}

a:hover {
    background-color: black;
    color: white;
}

a.external:link {
    color: white;
    text-decoration: underline;
}

a.external:visited {
    color: white;
}

a.external:hover {
    background-color: white;
    color: black;
}
.side_link {
    margin-top: 1em;
    text-align: right;
    display: none;
}

body {
    font-family: 'Roboto Condensed';
    margin: 0px;
}

.footer {
    background-color: black;
    color: white;
    padding: 1rem;
}

p { 
    margin-block-end: 0; 
    margin-block-start: 0;     
}

table {
    font-size: 15px;
    border-collapse: collapse;
    width: 100%;
}

table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
    background-color: black;
    color: white;
}

.footnotes {
    font-size: 0.9rem;
}

.footnotes p {
    margin-bottom: 1rem;
}

hr {
    border: none;
    background-color: black;
    color: black;
    height: 1px;
    width: 100px;
}

ul {
    list-style: none;
    padding-inline-start: 1.5rem;
}

ul li {
    text-indent: -0.5rem;
}

ul li:before {
    content: "› "; 
}
    
table tr:nth-child(odd){background-color: #f2f2f2;}

table ul {
    padding-inline-start: inherit;
    margin: inherit;
}

.logo {
    display: block;
    font-family: 'Montserrat';
    font-size: 3rem;
}

.sublogo {
    display: block;
    font-family: 'Roboto';
    font-size: 2.7rem;
    padding-top: .3rem;
    padding-left: 1rem;
    opacity: .5
}

.inactive {
    display: none;
}

.menu_color {
    background-color: #ddd;
}


@media screen and (min-width: 1125px) {
    h1 {
        margin-block-start: 0;
    }

    .content_container {
        display: block;
        margin-left: 300px;
        padding-bottom: 5rem; 
        padding-top: 6rem;
        height: 100%;
    }

    .content {
        padding: 2em 0;
        margin: 0 auto;
        width: 800px;
    }

    .wrapper {
        position: relative;
        background-color: white;
    }

    .menu {
        display: block;
        padding: 1.5rem;
        padding-bottom: 9rem;
        float: left;
        width: 250px;
        background-color: #ddd;  
        /* color: black;   */
        height: 100%;
        position: fixed;
        margin-top: 5rem;
        overflow: auto;
    }

    .logo_container {
        display: flex;
    }

    .header {
        padding-left: 1.3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        background-color: black;
        color: white;  
        position: fixed;
        z-index: 999;
    }

    .footer {
        clear: both;
        margin-left: 250px;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }
}

@media screen and (max-width : 1125px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .wrapper {
        flex-grow: 1;
    }

    .menu {
        padding-top: 7rem;
        overflow: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 4rem;
        margin: 0;
        width: auto;
        font-size: 20px;
    }

    .menu a:link {
        font-weight: normal;
    }

    .content_container {
        padding-top: 7rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 7rem;
        margin: 0;
        overflow: auto;
        clear: both;
    }

    .header {
        padding: 1rem;
        height: 6rem;
        width: 100%;
        background-color: black;
        position: fixed;
        top: 0;
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        color: white;
    }

    .button_image {
        height: 1rem;     
    }

    .logo_container {
        margin: auto;
        padding: 0;
        height: 100%;
    }

    .logo {
        font-size: 2rem;
        line-height: 1.05;
    }

    .sublogo {
        font-size: 1.57rem;
        /* line-height: 1.05; */
        padding: 0;
    }

    .menu_button {
        margin: auto;
        height: 1rem;
    }

    .footer {
        flex-shrink: 0;
    }
}